<main class="index">
    <h4 class="text-center"><br> Consumo de api nodeJs con diferentes frontends </h4>
    <header class="masthead d-flex" style="margin-top: 5%">
        <div class="overlay"></div>
    </header>
</main>

<div class='container text-center'>

    <div class="container">
        <img src="https://vuejs.org/images/logo.png" width="40px" />
        <br>
        Abre en frontends/VueJs/index.html<a target="_blank" href="http://localhost/proyectos/Git%20nodeJs/CrudApiNodeMysql/frontends/VueJs/index.html"> Mi ruta </a>
    </div>
    <br>

    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" width="50px" />
        <br>
        <a target="_blank" href="/links">Listar nodejs de forma local en html</a>
    </div>
    <br>

    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png" width="50px" />
        <br>
        npm i en frontends/ReactJs, luego npm start <br> se despliega en <a target="_blank" href="http://localhost:3000/">puerto 3000</a>
    </div>
    <br>

    <div class="container">
        <img src="https://www.codigojs.com/media/thumbs/articles/2020/03/07/portada_diV3ffh.jpg.1024x768_q82_crop.jpg" width="180px" />
        <br>
        Quasar: Framework multiplataforma que usa VueJs<br>
        para desarrollar apps móviles android e ios, pwa, windows.<br>
        frontends/QuasarPwa/index.html
    </div>
    <br>

</div>